<form method="POST" action="">
  CPF: <input type="number" name="cpf" required />
  <br>
  Senha <input type="password" name="senha" />
  <br>
  SARAM <input type="text" name="saram" />
  <br>
  Nome <input type="text" name="nome" />
  <br>
  Data de Nascimento <input type="date" name="dt_nasc" />
  <br>
  Sexo
  <input type="checkbox" name="sexo" value="M"> M
  <input type="checkbox" name="sexo" value="F"> F
  <br>
  Endereço <input type="text" name="endereco" />
  <br>
  Telefone <input type="tel" name="telefone" />
  <br>
  Email <input type="email" name="email" />
  <br>
  Posto/Graduação Militar <input type="text" name="militar" />
  <i>Obs.: Caso aluno do ITA bolsista da AEITA, escrever "alunoITA" </i>
  <br>
  <input type="submit">
</form>