<form method="POST" action="">
    CPF: <input type="number" name="cpf" required />
    <br> Senha <input type="password" name="psd" />
    <br> SARAM <input type="text" name="saram" />
    <br> Nome <input type="text" name="name" />
    <br> Data de Nascimento <input type="date" name="birth_date" />
    <br> Sexo
    <input type="checkbox" name="sex" value="M"> M
    <input type="checkbox" name="sex" value="F"> F
    <br> Endereço <input type="text" name="adress" />
    <br> Telefone <input type="phone" name="phone" />
    <br> Email <input type="email" name="email" />
    <br> Posto/Graduação Militar <input type="text" name="military" />
    <i>Obs.: Caso aluno do ITA bolsista da AEITA, escrever "alunoITA" </i>
    <br>
    <input type="submit">
</form>